# Package Managers
**/package-lock.json
**/pnpm-lock.yaml
**/yarn.lock
**/bun.lock
**/bun.lockb

# Miscellaneous
static/
**/locales

# Rust backend
src-tauri/

# Build and output
**/build/
**/dist/
**/output/
**/node_modules/
docs/.astro/

# Svelte
**/.svelte-kit/

# Test coverage
coverage/
